<h1>This is a flickr clone</h1>
<h5> Is the user signed in:<%= user_signed_in? %>  </h5>
<% if current_user %>

<% else %>
<%= link_to "Sign-in", new_user_session_path %> <br>
<% end %>

<% if current_user %>
  <li><%= image_tag(current_user.avatar.url(:thumb)) %></li>
<% end %>
